<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ title }} - Read Later</title>
		<link rel="stylesheet" type="text/css" href="styles/main.css"> 
            {% block header %}
            {% endblock header %}
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div><a href="/">Home</a></div>
                <h1>{{ title }}</h1>
                <hr />
            </div>
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="footer">
                <hr />
                <p>Copyright © 2013 Tony Chi </p>
            </div>
        </div>
        {% block footer %}
        {% endblock footer %}
    </body>
</html>
