{% extends "base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
<h1>Save</h1>
<hr />
<form id="save_form" action="/save" method="POST" accept-charset="utf-8">
	<p>
		<label for="tUrl">Url:</label>
		<input id="tUrl" name="tUrl" type="text" value="" placeholder="http://example.com/test.html"/>
	</p>
	<p>
		<label for="tTitle">Title:</label>
		<input id="tTitle" name="tTitle" type="text" value="" placeholder="example title"/>
	</p>
	<p>
		<label for="tAuthor">Author:</label>
		<input id="tAuthor" name="tAuthor" type="text" value="" placeholder="author name or site url"/>
	</p>
	<p>
		<label for="tTags">Tags:</label>
		<input id="tTags" name="tTags" type="text" value="" placeholder="Tags, ex: Tag1, Tag2, Tag3"/>
	</p>
	<p>
		<label for="tContent">Contents: (Allow Markdown)</label>
		<textarea id="tContent" name="tContent" cols="50" rows="5" placeholder="Input you want to saved."></textarea>
	</p>
	<p>
		<label style="display:inline-block;"><input id="bSendIt" name="bSendIt" type="checkbox" />Send it to Kindle</label>
		<div id="kindle_mail" style="margin-left:15px; display:none;">
			<label for="tMail">Your mail address: <input id="tMail" name="tMail" type="text" placeholder="xxxx@example.com" ></label>
		</div>
	</p>
	<input id="bSubmit" name="bSubmit" type="submit" value="Save it!" />
</form>
{% endblock content %}
{% block footer %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#bSendIt').click(function(){
            $('#kindle_mail').toggle();
		});
	});
</script>
{% endblock footer %}
