{% extends "base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
<div>
    <p>{{ item.author }} | {{ item.insertTime|datetime }} | {{ item.tags }}</p>
</div>
<div>
    <p>
        <span><a href="{{ it.url }}" target="_blank">view origin</a></span> | 
        <span><a href="/save/{{ it.key().id() }}">Edit</a></span> | 
        <span><a href="/delete/{{ it.key().id() }}">Delete</a></span> | 
        <span class="action">
            <a id="action_kindle" href="javascript:void(0);" alt="Send to Kindle">Kindle</a>
        </span>
        <span class="action">
            <a id="action_evernote" href="javascript:void(0);" alt="Send to
                Evernote">Evernote</a>
        </span>
    </p>
</div>
<div>
    <br/>
    {{ item.content }}
    <br/>
    <br/>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
